@import '../../../styles/mixins/global.scss';

.property-details-all-content-alignment {
    background: #144337;
    padding: 104px 0;
    position: relative;

    .mobile-view-property-last-button {
        display: none;
        padding: 64px 0 0 0;

        @include breakpoint("max-sm") {
            display: block;
        }

        button {
            border: none;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            @include no-font;
            padding: 21px 39px;
            color: #144337;
            background-color: #fff;
            width: 100%;

        }
    }

    .property-details-right-button-alignment {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(-90deg);
        right: -180px;

        @include breakpoint("max-sm") {
            display: none;
        }

        button {
            border: none;
            cursor: pointer;
            font-weight: 400;
            font-size: 25px;
            line-height: 25px;
            height: 75px;
            min-width: 430px;
            color: #144337;
            background: #FFFFFF;
            padding: 21px 39px;
            @include no-font;

        }
    }

    @include breakpoint("max-sm") {
        padding: 49px 34px;
    }

    .container-md-15 {
        @include breakpoint("max-sm") {
            padding: 0;
        }
    }

    .service-all-details-alignment {
        padding: 24px 0 0px 0;

        .service-grid:last-child {
            padding-bottom: 0;
        }

        .service-grid {
            display: grid;
            grid-template-columns: 1fr 30px;
            gap: 106px;
            padding: 0 0 30px 0;

            @include breakpoint("max-sm") {
                gap: 40px;
                padding: 0 0 40px 0;
            }

            @include breakpoint("max-md") {
                gap: 40px;
                padding: 0 0 40px 0;
            }

            .service-grid-items {
                .icon {
                    width: 30px;
                    height: 30px;
                    background: #2F8158;
                }

                h5 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 148.8%;
                    color: #DBDBDB;
                    @include inter-font;

                    @include breakpoint("max-sm") {
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 148.8%;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    color: #DBDBDB;
                    max-width: 638px;
                    @include inter-font;
                    line-height: 148.8%;

                    @include breakpoint("max-sm") {
                        font-size: 12px;
                        line-height: 148.8%;
                    }
                }
            }
        }
    }


    .service-title-alignment {
        @include flex-center;
        justify-content: space-between;
        padding: 0 0 8px 0;
        border-bottom: 0.5px solid #BCBCBC;

        p {
            font-style: italic;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            font-family: 'Barlow', sans-serif;
            color: #D6D6D6;

            @include breakpoint("max-sm") {
                font-weight: 600;
                font-size: 10px;
                line-height: 12px;
            }
        }
    }

    .section-title {
        padding: 0 0 96px 0;

        @include breakpoint("max-sm") {
            padding: 0 0 64px 0;
        }

        h1 {
            @include no-font;
            font-weight: 400;
            font-size: 64px;
            color: #DBDBDB;
            line-height: 64px;

            @include breakpoint("max-md") {
                font-size: 40px;
                line-height: 50px;
            }

            @include breakpoint("max-sm") {
                font-weight: 400;
                font-size: 24px;
                line-height: 92.7%;
            }
        }

        h2 {
            font-weight: 400;
            margin: 0 0 10px 0;
            font-size: 64px;
            line-height: 92.7%;
            color: #DBDBDB;
            font-family: "FreightTextProSemibold-Italic";

            @include breakpoint("max-md") {
                font-size: 40px;
                line-height: 50px;
            }

            @include breakpoint("max-sm") {
                font-weight: 400;
                font-size: 24px;
                line-height: 92.7%;
            }
        }

        h3 {
            font-weight: 600;
            font-size: 36px;
            color: #DBDBDB;
            // @include no-font;
            font-family: 'Advent Pro', sans-serif;
            line-height: 162.99%;
            margin: 0 0 20px 0;

            @include breakpoint("max-sm") {
                font-weight: 400;
                font-size: 20px;
                line-height: 162.99%;
            }
        }

        p {
            @include inter-font;
            font-weight: 400;
            max-width: 711px;
            font-size: 16px;
            line-height: 190.8%;
            color: #DBDBDB;

            @include breakpoint("max-sm") {
                font-weight: 400;
                font-size: 14px;
                line-height: 190.8%;
            }
        }

        .sapcer {
            padding: 20px 0 0 0;
        }
    }
}