@import "../../styles/mixins/global.scss";

.datenschutz-all-content-alignment {
  padding: 72px 0;

  @include breakpoint("max-sm") {
    padding: 40px 0;
  }

  h1 {
    font-family: "FreightTextProBook-Regular";
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    color: #000;
    margin: 0 0 20px 0;
  }
  .common-text {
    padding: 0 0 20px 0;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 190.8%;
      font-family: "Inter", sans-serif;
      color: #000;
      margin: 0 0 6px 0;

      @include breakpoint("max-sm") {
        font-weight: 400;
        font-size: 14px;
        line-height: 190.8%;
      }
    }
    a {
        display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 190.8%;
      font-family: "Inter", sans-serif;
      color: #000;
      margin: 0 0 6px 0;

      @include breakpoint("max-sm") {
        font-weight: 400;
        font-size: 14px;
        line-height: 190.8%;
      }
    }
  }
}
