@import '../../../styles/mixins/global.scss';

.property-management-first-steper-alignment {
    width: 356px;

    @include breakpoint("max-sm") {
        width: 100%;
    }

    .button-alignment {
        button {
            @include common-button;
            margin: 0 0 18px 0;
        }
    }

    .section-title {
        padding: 0 0 40px 0;

        h6 {
            text-align: center;
            color: #000;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            margin: 0 0 15px 0;
            font-family: 'Inter', sans-serif;
        }

        p {
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000;
            text-align: center;
        }
    }
}